
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    background: url('https://png.pngtree.com/background/20210709/original/pngtree-blackboard-education-light-bulb-green-picture-image_945855.jpg');
    background-repeat: initial;
}

h1 {
    text-align: center;
    margin-top: 10px;
}

form {
    max-width: 400px;
    margin: 30px auto;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid black;
    border-radius: 5px;
}

select {
    height: 40px;
}

input[type="submit"] {
    width: 100%;
    background-color: green;
    color:whitesmoke;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

h2 {
    margin-top: 20px;
}


@media screen and (max-width: 480px) {
    form {
        max-width: 300px;
    }
}


