*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
 }
 
 body{
     height:100vh;
     width: 100vw;
     background-image: linear-gradient(to top, rgb(231, 165, 127) ,rgb(89, 89, 146),rgb(110, 47, 104));
     display: flex;
     justify-content:center;
     align-items: center;
     
    
 
 }
 
 .register_form{
     box-shadow:10px 10px 10px 10px rgb(46, 46, 51);
     height: 500px;
     width: 1000px;
     border-radius: 10px;
     color:white;
     padding: 20px;
 }
 
 #register h1{
     text-align: center;
     margin:10px;
 }
 
 .input_ele input{
  
     margin:10px;
     padding: 10px;
     width: 380px;
     box-shadow: black;
     border-radius: 5px;
     border-style: none;
    

 
 }
 .context{
     display: flex;
     margin:10px 50px 10px 20px;
     
 }
 .context input{
     margin:5px;
 }
 .context p{
     margin:5px;
     font-size: 15px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }
 
 
 .register_btn {
     display: flex;
     margin:10px 66px 10px 20px ;
     justify-content: center;
 }
 
 .register_btn button{
      padding:7px 10px;
      margin:5px 10px;
      border-radius: 5px;
      border-style: none;
      font-weight: bold;
      background-color: green;
 
 
 }
 
 .register_btn button:hover{
     background-color: rgb(88, 171, 88);
 }
 
 